.logs/
admin/
bundle/
host/
linux/
node_cache/
node_modules/
npm/
nuget/
nuget-packages/
packs/
sdk/
sdk-manifests/
solution/
wsl/
.docker-temp*
*.appx
*.assert
*.deb
*.dll
*.exe
*.msi
*.msixbundle
*.p7x
*.pri
*.snap
*.tar
*.tar.gz
*.vsix
*.xml