.logs/
bundle/
host/
linux/
node_cache/
node_modules/
npm/
nuget-packages/
packs/
sdk/
sdk-manifests/
solution/
*.appx
*.assert
*.deb
*.exe
*.msi
*.msixbundle
*.snap
*.tar
*.tar.gz
*.vsix
.docker-temp*